@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-orange: #e64833;
  --color-dark-orange: #872a1e;
  --color-warm-gray: #665C5C;
  --color-darkdeep-green: #9D9D59;
  --color-creamy-white: #FBE9D0;
  --color-transition-green: #CCC394;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #142024;
    --foreground: #FBE9D0;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Hide scrollbar but keep scrolling functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Page vertical scrollbar customization */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #142024;  
}

html::-webkit-scrollbar-thumb {
  background: #90AEAD;  /* Scrollbar handle color */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #e64833;  /* Handle color on hover */
}

